@media only screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
    }
    .container {
        display: grid;
        grid-template-columns: 25% 50% 25%;
        grid-template-rows: auto 70px auto auto 80px;  
        width: 100vw;
        overflow: auto;
        overflow-x: hidden;
    }
    .other-header h1 {
        font-size: 4rem;
    }
    header {
        height: 15vh;
    }
    .nav {
        text-align: right;
        display: inline;
        grid-column: 1 / -1;
    }
    .work-timg img {
        margin: .3rem;
    }
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding: 85px;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        overflow: auto;
        background-color: #000000;
    }
    .modal-content {
        position: relative;
        margin: 0 auto;
        padding: 0;
    }
    .demo {
        opacity: 0.6;
        max-width: 55px;
    }
    .active,
    .demo:hover {
        opacity: 1;
    }
    .mySlides img {
        max-height: 600px;
        display: block;
        margin: 0 auto;
    }
    .about-img,
    .work-img,
    .portfolio-img,
    .bottom-text {
        padding-bottom: 150px;
    }   
}

@media screen and (max-width: 767px) {
    * {
        transition: none;
        -webkit-transition: none;
    }
    .index-header {
        background-image: url("../img/header_mobile.jpg");
        height: 100vh;
        grid-column: -1 / 1;
        grid-row: 1 / 1;
    }
    h1 { 
        font-size: 2.8rem;
    }
    .index-header h2 {
        font-size: 1rem;
        letter-spacing: .05rem;
    }
    header {
        background-image: url("../img/header_mobile.jpg");
        background-size: cover; 
        height: 100vh;
        grid-column: -1 / 1;
        grid-row: 1 / 1;
    }
    nav li {
        padding-right: 0.4rem;
        padding-left: 0.4rem;
    }
    .nav {
        padding: 0;
    }
    .btns {
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    .about-img img,
    .mri-img, 
    .process-img img {
        max-width: 100%;
    }
    .modal-content {
        height: 85%;
    }
    .image-tooltip {
        opacity: 1;
    }
}