* {
    font-family: 'Montserrat', sans-serif;
}

body {
    font-size: 1rem;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    text-align: center;
}

h1 {
    font-size: 3.2rem;
    color: white;
    font-weight: 450;
}

.main-h2 {
    animation-name: jump-animation;
    animation-duration: 3.5s;
    animation-timing-function: ease;
    animation-delay: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    letter-spacing: .2rem;
    /* padding-top: 70px; */
}

.shadow {
    color: white;
    letter-spacing: .1em;
    text-shadow:
        0 -1px 0 #fff,
        0 1px 0 #2e2e2e,
        0 2px 0 #2c2c2c,
        0 3px 0 #2a2a2a,
        0 4px 0 #282828,
        0 5px 0 #262626,
        0 6px 0 #242424,
        0 7px 0 #222,
        0 8px 0 #202020;
}

.index-header h2 {
    font-size: 1.6rem;
    padding-top: 20px;
    color: white;
    font-weight: 300;
    letter-spacing: .1rem;
}

.other-header {
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: center;
}

.other-header h1 {
    /* font-size: 2.5rem; */
    display: none;
}

.other-header h2 {
    display: none;
}

h2 {
    font-size: 2rem;
    /* padding-top: 2rem; */
    /* padding-bottom: .8rem; */
}

h3 {
    font-size: 1.4rem;
    padding: 1rem 0 .5rem;
}

p {
    font-size: 1rem;
}

/* nav {
    margin-top: 40px;
} */

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    padding-right: 1.5rem;
    letter-spacing: .05rem;
}

nav a {
    color: black;
    font-weight: 600;
    text-decoration: none;
}

nav a:hover {
    background-color: lightgray;
}

.skip a {
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}

.skip a:focus {
    top: 0;
}

footer {
    grid-column: 1 / -1;
    grid-row: 5 / 5;
    font-weight: 500;
    padding-bottom: 30px;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    /* grid-row-gap: 10px; */
    grid-template-rows: auto 35px auto auto 50px;
    width: 100vw;
}

.nav {
    align-self: center;
    text-align: center;
    padding: 5px;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
}

.nav a:hover {
    background-color: #ddd;
    color: black;
}

.sticky {
    background-color: white;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
}

.current a {
    color: #8b0000;
    border-bottom: 3px solid #8b0000;
}

.index-header {
    /* Parallax effect */
    background-attachment: fixed;
    background-image: url("../img/header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    grid-column: -1 / 1;
    grid-row: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    /* Parallax effect */
    background-attachment: fixed;
    background-image: url("../img/header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 15vh;
    grid-column: -1 / 1;
    grid-row: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about,
.work,
.course-work,
.contact {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.about-img,
.work-img,
.course-work-img {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    padding-bottom: 80px;
}

.about-img img {
    max-width: 100%;
}

.about-img img:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: .9s;
}

.column-imgs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column-img {
    margin: .2rem;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding: 0px;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: black;
    padding-top: 20%;
}

/* Modal Content */
.fullscreen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
}

.fullscreen .modal-content {
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}

.fullscreen .close {
    top: 10px;
    right: 10px;
}

.modal-content {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.cursor {
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.caption-container {
    text-align: center;
    padding: 20px 16px;
    color: white;
}

.demo {
    opacity: 0.6;
    max-width: 80px;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mySlides img {
    max-height: 300px;
    display: block;
    margin: 0 auto;
    padding-top: 35px;
}

.work-timg {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    grid-column: 2 / 3;
}

.work-timg img {
    max-width: 350px;
    margin: .2rem;
}

/*contact*/
.contact-btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-btn {
    color: black;
    font-weight: 600;
    background-color: whitesmoke;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    line-height: 1.9rem;
    border-radius: 1.2rem;
    text-decoration: none;
    /*  top right bottom left*/
    /*  the size of button*/
    padding: .15rem 1.2rem;
    border: .09rem solid black;
    display: inline-block;
    margin: 4rem 1rem 6rem 0;
}

.contact-btn:hover {
    color: white;
    background-color: black;
    opacity: .7;
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: .8rem;
}

input[type=submit] {
    background-color: gray;
    font-size: 1rem;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    letter-spacing: .1rem;
}

input[type=submit]:hover {
    background-color: #464646;
}

.contact-form h1 {
    color: black;
    font-weight: 600;
    letter-spacing: .1rem;
    font-size: 1.4rem;
    padding: .3rem;
}

.contact-form {
    border-radius: .8rem;
    background-color: #f2f2f2;
    padding: 20px;
}

.notification {
    color: red
}

.text-block {
    align-self: center;
}

@keyframes jump-animation {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    20% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    50% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    60% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    80% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@media only screen and (min-width: 800px) {

    h1 {
        font-size: 4rem;
    }

    .container {
        display: grid;
        grid-template-columns: 25% 50% 25%;
        grid-template-rows: auto 70px auto auto 80px;
        /* grid-row-gap: 25px; */
        width: 100vw;
        overflow: auto;
    overflow-x: hidden;
    }

    .other-header h1 {
        font-size: 4rem;
    }

    header {
        height: 15vh;
    }

    .nav {
        text-align: right;
        display: inline;
        grid-column: 1 / -1;
    }

    .work-timg img {
        margin: .3rem;
    }

    /* The Modal (background) */
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding: 85px;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        overflow: auto;
        background-color: black;
    }

    /* Modal Content */
    .modal-content {
        position: relative;
        margin: 0 auto;
        padding: 0;
        width: 60%;
    }

    .demo {
        opacity: 0.6;
        max-width: 55px;
    }

    .active,
    .demo:hover {
        opacity: 1;
    }

    .mySlides img {
        max-height: 600px;
        display: block;
        margin: 0 auto;
    }

    .about-img,
    .work-img,
    .course-work-img {
        padding-bottom: 150px;
    }
}

/*End the media query*/

@media screen and (prefers-reduced-motion: reduce) {
    .main-h2 {
        animation-name: none;
    }

    * {
        transition: none;
        -webkit-transition: none;
    }
}